.header
  height: 80px
  color: #264c65
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.12)
  background #fff
  .header-wrapper
    width: 1200px
    margin: auto
    font-size: 0
  .logo
    display: inline-block
    font-size: 0px
    margin-top: 22px
    i
      display: inline-block
      height: 22px
      vertical-align: top
      background: #be9f59
      width: 2px
      margin: 7px 13px 0
    .qmc
      display: inline-block;
      vertical-align: top;
    .cd
      font-size: 20px;
      color: #be9f59;
      font-weight: bold;
      line-height: 36px;
      display: inline-block;
      vertical-align: top;
  .nav
    display: inline-block;
    margin-left: 276px;
    vertical-align: top;
    font-size: 0px;
    position: relative
    .slider
      position: absolute
      bottom: 0
      width: 64px;
      height: 3px;
      background: #be9f59
      transition: all .3s
    .item
      display: inline-block;
      position: relative
      width 112px
      line-height: 80px;
      text-align: center
      font-size: 16px;
      a
        display: block
        height 100%
        color: #808080
        &.active
          color: #be9f59
        &:hover
          color: #be9f59
  .back-qmc
    float right
    width: 140px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    color: #807e7e;
    background: #e1e1e1;
    margin-top: 16px;
    font-size: 16px;
    border-radius 5px

