.order-wrap
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  width: 1200px
  padding: 36px 24px 50px
  background: #fff
  margin: 44px auto 40px
  .address-wrap
    margin-bottom: 40px;
    .title
      line-height: 26px
      font-size: 20px;
      color: #264C65
    .address-list
      overflow hidden
      margin-top: 10px
      .item
        position: relative
        box-sizing border-box
        float: left
        width: 370px
        height 152px
        margin-right 21px
        border: 1px solid #E4E4E4;
        border-radius: 5px;
        color: #92979B;
        padding: 21px;
        &.default
          border-color: #FB6C45
        .modify
          color: #92979B;
          position: absolute;
          right: 105px
          top: 22px
          cursor pointer
          line-height: 20px;
          -webkit-user-select none
        .default-operation
          -webkit-user-select none
          color: #92979B;
          position: absolute;
          right: 25px
          top: 22px
          cursor pointer
          line-height: 20px;
          color: #92979B;
          text-align: center;
          width: 66px;
          background: #fff
          &.Default
            background: #FAB19E;
            border-radius: 100px;
            color #fff
            font-size 12px
        &:hover
          border-color: #FB6C45
        &:nth-child(3n)
          margin-right 0
        .userCName
          font-size: 16px;
          color: #264C65;
          line-height: 21px;
          padding-bottom 14px
          border-bottom: 1px solid #E4E4E4
        .userCPhone
          font-size: 14px;
          color: #92979B;
          line-height 19px;
          margin: 12px 0 4px
        .userCSite
          font-size: 14px;
          color: #92979B;
          line-height 19px;
        p
          text-align center
          line-height: 19px;
          margin-top: 8px
        .icon-add
          display: block
          margin: 20px auto 0
          width 44px;
          height: 44px;
          font-size: 44px;
        &:last-child
          margin-right: 0
        &.addNew
          border-color: #E4E4E4 !important
          cursor: pointer

  .newAddress-layer
    z-index: 222;
    .fill-wrap
      width: 800px;
      height: 482px;
      .fill-content
        padding: 36px 24px 51px;
        .s-title
          font-size: 20px;
          color: #264C65;
          line-height: 26px;
        .name-phone-widget
          margin-top: 19px;
          display: flex
          align-items: center;
          height: 40px;
          justify-content: space-between
          input
            flex: 0 0 290px
            box-sizing border-box
            height: 100%
            border: 1px solid #E4E4E4;
            border-radius: 5px;
            padding-left: 10px;
        .select-widget
          display flex
          height: 40px
          align-items: center;
          margin: 20px 0;
          select
            flex: 0 0 90px;
            box-sizing border-box
            margin-left: 10px;
            height: 100%
            border: 1px solid #E4E4E4;
            border-radius: 5px;
        textarea
          display: block;
          font-family: MicrosoftYaHei;
          font-size: 14px;
          color: #92979B;
          -webkit-box-sizing: border-box
          -moz-box-sizing: border-box
          box-sizing: border-box
          resize none
          border: 1px solid #E4E4E4;
          border-radius: 5px;
          width: 686px;
          height: 60px;
          margin-left: 66px;
          padding: 10px;
        .errorTips
          color: #FB6C45
          text-align: center;
          line-height: 20px;
          position: absolute
          bottom: 115px;
          left: 0;
          right: 0;
        .operate-btn-wrap
          width: 380px;
          margin: 50px auto 0;
          height 50px;
          a
            border-radius: 100px;
            line-height: 50px;
            text-align: center
            font-size: 16px
            width 180px
            cursor pointer
          .save
            background: #FB6C45;
            box-shadow: 0 10px 16px 0 rgba(251, 108, 69, 0.50);
            float left
            color: #fff
          .cancel
            border: 1px solid #E4E4E4;
            color #969B9F
            float right
  .orderInfo-wrap
    .title
      line-height: 26px
      font-size: 20px;
      color: #264C65
    .orderInfo-content
      margin: 11px -24px 0 -24px;
      .tits
        background: #F9F9F9;
        display: flex
        li
          width: 16.666%
          line-height 40px;
          text-align: center
          color: #92979B;
      .infos
        display: flex
        margin-top: 30px
        li
          width: 16.666%
          text-align: center
          height: 90px;
          box-sizing border-box;
          line-height: 90px;
          color: #264C65;
          &.good-img-s
            padding-left 24px
            img
              width 90px;
              height: 90px;
          .countIcon
            font-size: 36px;
            display: inline-block;
            vertical-align: -11px;
            cursor pointer
          &.count-widget
            user-select none
            .number
              user-select none
              margin: 0 17px;
    .requireFill
      margin-top: 26px;
      height: 40px
      position: relative
      .addMessInput
        display: block
        -webkit-box-sizing: border-box
        -moz-box-sizing: border-box
        box-sizing: border-box
        width: 100%
        border: 1px solid #E7E7E7;
        border-radius: 100px;
        height: 40px;
        background: #F9F9F9;
        outline none;
        position: absolute
        left: 0;
        top: 0;
        width: 100%;
        padding-left 100px
        color: #979CA0;
        opacity: 1

      .addMessBtn
        line-height 40px;
        position: absolute
        right: 0;
        top: 0;
        color: #979CA0;
        cursor: pointer;
        opacity 1
        &-enter-active, &-leave-active {
          transition: opacity .3s
        }
        &-enter, &-leave-to /* .fade-leave-active in below version 2.1.8 */
        {
          opacity: 0
        }
    .totalBeans-wrap
      color: #264C65;
      text-align right
      margin-top: 16px;
      height 42px
      line-height: 42px;
      .orange
        font-size: 30px
    .order-sub-widget
      text-align right
      font-size: 0;
      margin-top: 14px
      a
        display: inline-block
        width: 180px;
        height: 50px;
        text-align: center;
        font-size: 16px;
        line-height 50px
        border-radius: 100px;
      .cancel
        color: #264C65;
        border: 1px solid #92979B;
        line-height: 48px;
      .open-pop
        color: #fff;
        background: #FB6C45;
        box-shadow: 0 10px 16px 0 rgba(251, 108, 69, 0.50);
        border-radius: 100px;
        margin-left: 20px
  .orderSure-layer
    z-index: 222;
    .orderSure-wrap
      width: 800px;
      .orderSure-content
        padding: 36px 24px 50px;
        .s-title
          font-size: 20px;
          color: #264C65;
          line-height: 26px;
          &.margin-46
            margin-top: 46px;
        .info-box
          margin-top: 18px
          & > div
            display: flex
            height: 19px;
            align-items center
            margin-bottom 15px;
            justify-content: space-between
            &:last-child
              margin: 0
            &
              font-size: 0
              dt, dd
                display: inline-block !important;
                font-size: 14px;
              dt
                color: #A4A8AB

              dd
                color: #264C65
        .attention
          color: #92979B;
          line-height: 30px;
          margin-top: 21px;
        .lastOperation
          width: 380px;
          margin: 40px auto 0;
          height 50px;
          a
            border-radius: 100px;
            line-height: 50px;
            text-align: center
            font-size: 16px
            width 180px
            cursor pointer
          .last-sure
            background: #FB6C45;
            box-shadow: 0 10px 16px 0 rgba(251, 108, 69, 0.50);
            float left
            color: #fff
          .last-cancel
            border: 1px solid #E4E4E4;
            color #969B9F
            float right
