*
  margin 0
  padding 0
  box-sizing border-box
  font-family MicrosoftYaHei

.goods-wrapper
  width 100%
  height auto
  background #eee
  .content-wrapper
    margin 0 auto
    width 1200px
    height auto
    padding-bottom 40px
    .goods-item
      width 100%
      height 430px
      overflow hidden
      .title-wrapper
        position relative
        padding 40px 0 12px 0
        width 100%
        height 96px
        display flex
        .title-icon
          position relative
          width 32px
          height 44px
          span
            position absolute
            left 0
            top 4px
            display block
            width 32px
            font-size 20px
            color #fff
            text-align center
        .product
          margin-left 12px
          margin-top 18px
          font-size 20px
          color #264C65
          span
            margin-left 12px
            font-size 14px
            color #264C65
        .goods-more
          position absolute
          top 66px
          right 0
          font-size 14px
          color #264C65
          &:hover
            text-decoration underline
      &:first-child
        li
          &:nth-child(1)
            .introduce-img
              background: #C3E6FA
          &:nth-child(2)
            .introduce-img
              background: #FFDADA
          &:nth-child(3)
            .introduce-img
              background: #BDEEF7
          &:nth-child(4)
            .introduce-img
              background: #FFF0A1
      .goods
        width 100%
        display flex
        li
          position relative
          margin-right 20px
          width 285px
          height 334px
          flex 1
          background #fff
          .introduce-img
            display block
            width 285px
            height 231px
            background #FAFAFA
          .introduce-sellout
            position absolute
            top 0
            left 0
            z-index 2
            width 285px
            height 231px
            background #264C65
            opacity 0.9
            color #fff
            text-align center
            line-height 231px
            font-size 26px
            cursor pointer
        .good-introduce
          width 100%
          height 103px
          padding 0 14px 0 10px
          .goods-name
            width 100%
            padding 18px 0 13px 0
            a
              color #264C65
              font-size 16px
          .goods-price
            width 100%
            display flex
            .cang-beans
              font-size 34px
              color #DA5140
              width 104px
              height 38px
              font-family Arial
              span
                font-size 14px
                color #000029
            .market-price
              font-size 14px
              color #92979B
              margin-left 60px
              margin-top 17px
