*
  margin 0
  padding 0
  box-sizing border-box
  font-family MicrosoftYaHei

img
  border none

.left
  float left

.right
  float right

.shadow
  box-shadow 0 0px 50px 0 rgba(0, 0, 0, 0.2)

.bannerVip-wrapper
  width 100%
  min-width 1200px
  margin auto
  height 380px
  background url(./bannerVip-wrapper.png) center no-repeat;
  .mask-wrap
    width 1200px
    height 380px
    margin auto
    .mask-content
      position relative
      margin-top 19px
      width 280px
      height 342px
      border-radius 10px
      .mask-layer
        width 280px
        height 342px
        background rgba(255, 255, 255, .9)
        border-radius 10px
      .mask-login, .mask-noLogin
        position absolute
        top 0
        left 0
        width 280px
        height 342px
        padding 10px
        border-radius 10px
        .sign-pop-up
          position absolute
          top 38px
          right 37px
          z-index 10
          width 448px
          height 318px
          background #fff
          border-radius 10px
          &::before
            content ''
            position absolute
            right 35px
            top -20px
            border 10px solid transparent
            border-bottom 10px solid #fff
          .sign-pop-close
            position absolute
            top 18px
            right 18px
            cursor pointer
            .icon-close
              font-size 14px
              color #c0a15d
          .sign-pop-title
            padding-top 34px
            font-size 18px
            font-weight bold
            color #bd9e59
            text-align center
            .icon-right
              font-size 24px
              color #1ab160
              vertical-align -5px
          .sign-app-2wm
            text-align center
            margin-top 40px
            p
              font-size 14px
              color #999999
          .sign-pop-hint
            font-size 16px
            color #808080
            padding-left 42px
            line-height 26px
            margin-top 15px
            span
              display block
              font-weight bold
              color #333333
        .login-title
          overflow hidden
          .userName
            font-size 14px
            color #6d6d6d
            padding-top 10px
          .signIn
            font-size 12px
            color #be9f59
            cursor pointer
            span
              margin-right 5px
          .signOver
            color #6d6d6d
        .login-avatar
          margin-top 40px
          width 100%
          height 86px
          img
            display block
            width 86px
            height 86px
            margin auto
        .login-case
          position relative
          width 100%
          height 60px
          padding 22px 0
          border-bottom 1px solid #d9d9d9
          p
            width 50%
            height 16px
            font-size 16px
            color #333333
            text-align center
            span
              font-size 16px
              color #be9f59
          .warehouseBean
            border-left 1px solid #d9d9d9
            .icon-question
              position relative
              top -8px
              cursor pointer
              font-size 14px
              &:hover + .bean-hint
                display block
            .bean-hint
              position absolute
              top 8px
              right 40px
              display none
              line-height 22px
              padding 0 7px
              background #fff
              font-size 12px
              color #808080
              border 1px solid #cccccc
              border-radius 5px
              &::after
                content ''
                position absolute
                top 6px
                right -10px
                z-index 1
                border 5px solid transparent
                border-left 5px solid #cccccc
              &::before
                content ''
                position absolute
                top 6px
                right -9px
                z-index 2
                border 5px solid transparent
                border-left 5px solid #fff
        .mine-equity
          width 100%
          height 110px
          padding-top 19px
          .equityTitle
            height 14px
            span
              font-size 14px
              border-left 2px solid #be9f59
              padding-left 9px
            a
              font-size 12px
              color #999999
              text-align right
          .equityShow
            position relative
            margin-top 20px
            width 100%
            height 55px
            .equityShow-ul
              width 100%
              height 55px
              overflow hidden
              ul
                width 585px
                height 55px
                margin-left 0px
                transition all linear 0.3s
                li
                  width 65px
                  height 55px
                  .equity-item
                    width 100%
                    height 55px
                    text-align center
                    .equityImg
                      width 100%
                      height 30px
                      padding-top 3px
                      overflow hidden
                      span
                        font-size 24px
                        color #808080
                      span.hasEquity
                        color #be9f59
                    .equityName
                      padding-top 12px
                      font-size 12px
                      color #808080
            .equityMore-right, .equityMore-left
              position absolute
              top 20px
              span
                font-size 16px
                color #cccccc
            .equityMore-right
              right -8px
            .equityMore-left
              left -8px




      .mask-noLogin
        padding 19px 17px
        .login-title
          font-size 16px
          color #6d6d6d
        .Login-prompt
          margin-top 50px
          width 100%
          height 90px
          text-align center
          .promptText
            font-size 14px
            color #4c4c4c
          .promptBtn
            margin 20px auto 0
            width 154px
            height 48px
            line-height 48px
            text-align center
            border-radius 5px
            background #be9f59
            overflow hidden
            a
              display block
              width 100%
              height 100%
              color #fff
              transition all linear 0.3s
              &:hover
                background rgba(255, 255, 255, .2)
    .bannerVip-left
      width 920px
      height 380px
    .noLoginIMG
      margin-top: 90px;
      margin-left: 111px;
    .badge-content
      width 920px
      height 100%
      padding-top 110px
      .badge-list
        width 770px
        height 122px
        margin auto
        ul
          width 770px
          height 122px
          li
            position relative
            width 92px
            height 122px
            .badgeGrade
              text-align center
              padding-top 68px
              font-size 14px
              font-weight bold
          .badgeTypeGray
            background url(./badge-gray-member.png) center center no-repeat
            .badgeGrade
              color #3c3c3c
          .badgeTypeLight
            background url(./badge-light-member.png) center center no-repeat
            .badgeGrade
              color #5d2d1e
          .activeType
            width 126px
            height 122px
            background url(./present-light.png) center no-repeat
            .badgeGrade
              font-size 20px
      .badge-hint
        width 100%
        padding-top 27px
        font-size 14px
        text-align center
        color #fff
        .goUpData
          padding-top 8px
          a
            color #f96230




    .card-wrap
      width: 1000px;
      margin: auto
      padding-top: 34px;
      position relative
      .swiper-button-next
        background url("./arrow-right.png")
        width 30px
        height 42px
        right: -60px;
        top: 56%;
      .swiper-button-prev
        background url("./arrow-left.png")
        width 30px
        height 42px
        left: -60px;
        top: 56%;
      .swiper-container
        .swiper-slide
          background: #f3f3f5
          border-radius: 5px;
          width: 244px;
          height: 322px;
          text-align: center
          padding: 74px 25px;
          i
            color: #c0a15d
            font-size: 32px;
          .name
            color: #333333
            margin-top: 34px;
          .rightText
            color: #808080
            margin-top: 14px;
          .desc
            color: #808080
            margin-top: 64px;
            line-height: 1.4



