*
  margin 0
  padding 0
  box-sizing border-box
  font-family MicrosoftYaHei

img
  border none

.left
  float left

.right
  float right

.bannerVip-wrapper
  width 100%
  min-width 1200px
  margin auto
  height 380px
  background url(./bannerVip-wrapper.png) no-repeat;
  .mask-wrap
    width 1200px
    height 0
    margin auto
    .mask-content
      position relative
      margin-top 19px
      width 280px
      height 342px
      border-radius 10px
      overflow hidden
      .mask-layer
        width 280px
        height 342px
        background rgba(255,255,255,.9)
      .mask-login, .mask-noLogin
        position absolute
        top 0
        left 0
        width 280px
        height 342px
        padding 10px
        .login-title
          overflow hidden
          .userName
            font-size 14px
            color #6d6d6d
            padding-top 10px
          .signIn
            font-size 12px
            color #be9f59
            span
              margin-right 5px
        .login-avatar
          margin-top 40px
          width 100%
          height 86px
          img
            display block
            width 86px
            height 86px
            margin auto
        .login-case
          width 100%
          height 60px
          padding 22px 0
          border-bottom 1px solid #d9d9d9
          p
            width 50%
            height 16px
            font-size 16px
            color #333333
            text-align center
            span
              font-size 16px
              color #be9f59
          .warehouseBean
            border-left 1px solid #d9d9d9
            .icon-question
              position relative
              top -8px
              cursor pointer
              font-size 14px

        .mine-equity
          width 100%
          height 110px
          padding-top 19px
          .equityTitle
            height 14px
            span
              font-size 14px
              border-left 2px solid #be9f59
              padding-left 9px
            a
              font-size 12px
              color #999999
              text-align right
          .equityShow
            position relative
            margin-top 20px
            width 100%
            height 55px
            ul
              width 100%
              height 55px
              li
                width 25%
                height 55px
                .equity-item
                  width 100%
                  height 55px
                  text-align center
                  .equityImg
                    width 100%
                    height 30px
                    padding-top 3px
                    overflow hidden
                    span
                      font-size 24px
                      color #808080
                    span.hasEquity
                      color #be9f59
                  .equityName
                    padding-top 12px
                    font-size 12px
                    color #808080
            .equityMore
              position absolute
              right -5px
              top 20px
              span
                font-size 16px
                color #cccccc

      .mask-noLogin
        padding 19px 17px
        .login-title
          font-size 16px
          color #6d6d6d
        .Login-prompt
          margin-top 50px
          width 100%
          height 90px
          text-align center
          .promptText
            font-size 14px
            color #4c4c4c
          .promptBtn
            margin 20px auto 0
            width 154px
            height 48px
            line-height 48px
            text-align center
            border-radius 5px
            background #be9f59
            overflow hidden
            a
              display block
              width 100%
              height 100%
              color #fff
              transition all linear 0.3s
              &:hover
                background rgba(255, 255, 255, .2)

  .user-badge
    width 1200px
    height 380px
    margin auto
    .noLoginIMG
      margin-top: 90px;
      margin-left: 111px;
    .badge-content
      width 920px
      height 100%
      padding-top 140px
      .badge-list
        width 760px
        height 77px
        margin auto
        ul
          width 760px
          height 77px
          li
            position relative
            width 95px
            height 77px
            text-align center
            .badgeCrown
              position absolute
              left 31px
              top -17px
              z-index 1
              width 33px
              height 21px
              background url(./crown-light-member.png) no-repeat
            .Badge
              position absolute
              top 0
              left 0
              z-index 2
              width 95px
              height 77px
              .badgeGrade
                padding-top 20px
                font-size 12px
                font-weight bold
              .badgeName
                font-size 14px
                margin-top 3px
                line-height 16px
          .badgeTypeGray
            background url(./badge-gray-member.png) no-repeat
            .Badge
              .badgeName
                color #ffffff
              .badgeGrade
                color #858585
          .badgeTypeLight
            background url(./badge-light-member.png) no-repeat
            .Badge
              .badgeName
                color #feeaca
              .badgeGrade
                color #d53c2c
      .badge-hint
        width 100%
        padding-top 27px
        font-size 14px
        text-align center
        color #fff
        .goUpData
          padding-top 8px
          a
            color #f96230

    .card-wrap
      width: 1000px;
      margin: auto
      padding-top: 34px;
      position relative
      .swiper-button-next
        background url("./arrow-right.png")
        width 30px
        height 42px
        right: -60px;
        top: 56%;
      .swiper-button-prev
        background url("./arrow-left.png")
        width 30px
        height 42px
        left: -60px;
        top: 56%;
      .swiper-container
        .swiper-slide
          background: #f3f3f5
          border-radius: 5px;
          width: 244px;
          height: 322px;
          text-align: center
          padding: 74px 25px;
          i
            color: #c0a15d
            font-size: 32px;
          .name
            color: #333333
            margin-top: 34px;
          .rightText
            color: #808080
            margin-top: 14px;
          .desc
            color: #808080
            margin-top: 64px;
            line-height: 1.4


