*
  margin 0
  padding 0
  box-sizing border-box
  font-family MicrosoftYaHei

img
  border none

.left
  float left

.right
  float right

.bannerVip-wrapper
  width 100%
  min-width 1200px
  margin auto
  height 380px
  background url(./bannerVip-wrapper.png) no-repeat;


