.selector-wrap
  background:#fff;
  margin-bottom:30px;
  .content
    margin:0 auto;
    width:1200px;
    .top-wrap
      padding:22px 0;
      border-bottom:1px solid #E4E4E4;
      .all
        border-radius: 100px;
        padding 8px 16px;
        text-align: center;
        margin-right:8px;
        &:hover
          color:#FE6940
        &.active
          background: #fe6940;
          color: #fff!important;
      .byType,.byPrice
        line-height 1;
        color: #264C65;
        overflow:hidden
        a
          float left;
          border-radius: 100px;
          color: #264C65;
          padding 8px 16px;
          margin-right:8px;
          &.active
            background: #fe6940;
            color: #fff!important;
          &:hover
            background: #fe6940;
            color: #fff !important;
            border-color: #fe6940
          &.marginR-10
            margin-right 10px;
        .title
          float left
          margin-right:8px;
          padding:8px;
        .widget
          box-sizing border-box
          float: left
          width:84px;
          height:30px;
          border: 1px solid #E4E4E4;
          border-radius: 100px;
          i
            line-height:28px;
            margin-left:5px;
            color:#92979B;
            float:left;
            width 15px
          input
            float:left;
            width:60px;
            background none
            height:100%;
            outline none
         .to
           float left;
           line-height 30px
           margin:0 4px
         .sure
           border: 1px solid #E4E4E4;
           padding 7px 16px;
           border-radius: 100px;
           margin-left:24px;
      .byType
        margin-bottom: 14px
    .bottom-wrap
      line-height 54px;
      color:#264C65
      overflow hidden

      .title
        margin-right: 59px;
        float left
        margin-left: 10px;
      a
        color:#264C65
        margin-right:40px;
        float left
        &.active
          color: #FE6940!important;
        &:hover
          color:#FE6940
