.error-layer
  z-index: 222
  .error-wrap
    width 490px
    text-align: center
    padding-bottom: 30px;
    .con
      line-height: 120px;
      color: #92979B;
      a
        color: #FB6C45
        text-decoration underline
    .operate-widget
      font-size: 0
      line-height: 50px;
      .iknow
        background: #FB6C45;
        box-shadow: 0 10px 16px 0 rgba(251, 108, 69, 0.50);
        border-radius: 100px;
        font-size: 16px;
        color: #FFFFFF;
        width 180px
        display inline-block
      .goQMC
        font-size: 14px;
        color: #FB6C45;
        margin-left: 20px;
        display inline-block





