*
  margin 0
  padding 0
  box-sizing border-box
  font-family MicrosoftYaHei

img
  border none

.left
  float left

.right
  float right
.success-wrapper
  width 1200px
  height auto
  overflow hidden
  background #fff
  margin 30px auto
  .success-left,.success-right
    width 50%
    height 514px
  .success-left
      border-right 1px solid #E4E4E4

