*
  margin 0
  padding 0
  box-sizing border-box
  font-family MicrosoftYaHei

img
  border none

.left
  float left

.right
  float right

.product-intro
  margin 0 auto
  width 1200px
  height auto
  font-size 14px
  line-height 19px
  color #264C65
  .preview-top
    width 1200px
    height 450px
    margin auto
    background #fff
    .preview-img
      width 440px
      height 440px
      margin-top 5px
      margin-left 5px
      border 1px solid royalblue
      img
        width 100%
        height 100%
    .preview-des
      width 750px
      height 100%
      padding 30px 25px
      .goods-title
        line-height 26px
        font-size 20px
        color #264C65
        padding-bottom 5px
      .goods-summary
        color #FE6940
        line-height 19px
        padding-bottom 19px
      .goods-features
        width 100%
        height 110px
        margin-bottom 14px
      .goods-price
        color: #264C65
        span
          color #92979B
          margin-left 66px
        .goods-cangdou
          margin-left 14px
          font-size 34px
          color #DA5140
      .goods-number
        color #264C65
        padding-top 17px
        user-select none
        span
          color #92979B
          margin-left 30px
          b
            color #FB6C45
            font-weight normal
        .goods-amount
          display inline-block
          vertical-align -5px
          margin 0 14px
          font-size 30px
          color #E4E4E4
          cursor pointer
      .goods-btn
        margin-top 23px
        width 290px
        height 50px
        line-height 50px
        text-align center
        font-size 16px
        background #FB6C45
        box-shadow 0 10px 16px 0 rgba(251, 108, 69, 0.50)
        border-radius 100px
        a
          display block
          width 100%
          height 100%
          color #FFFFFF
      .goods-tips
        padding-top 19px
        font-size 12px
        color #94999D
  .preview-center
    width 1200px
    height auto
    overflow hidden
    margin-top 10px
    .preview-details
      background #fff
      width 890px
      height auto
      padding-bottom 20px
      .details-title
        font-size 20px
        color #264C65
        padding 16px 0 38px 24px
      .details-pic
        width 750px
        height auto
        margin auto
      .details-tips
        width 750px
        margin auto
    .preview-recommended
      background #fff
      display block
      width 300px
      height auto
      padding 0 10px
      .recommended-title
        width 100%
        display flex
        .line
          position relative
          top 27px
          height 0px
          flex 1
          border-top 1px solid #E4E4E4
        .text
          margin 16px 5px
          font-size 16px
          line-height 21px
          color #264C65
      .recommended
        width 100%
        height 124px
        display flex
        align-items center
        &:hover
          box-shadow 0 0 22px 0 rgba(0, 0, 0, 0.16);
        .recommended-img
          width 90px
          height 90px
          border 1px solid royalblue
          margin-right 6px
          img
            width 100%
            height 100%
        .recommended-desc
          flex 1
          .info-title
            font-size 14px
            color #264C65
          .info-price
            padding-top 7px
            line-height 26px
            color #264C65
            span
              font-size 22px
              color #DA5140
          .info-num
            color #92979B
    .preview-history
      position relative
      background #fff
      width 890px
      height 322px
      margin 10px 0 32px 0
      .history-title
        font-size 20px
        padding 16px 0 8px 20px
      .history-clear
        position absolute
        top 20px
        right 20px
        color #92979B
        cursor pointer
      .history-wrapper
        width 100%
        padding 0 10px
        height 224px
        .history-item
          width 20%
          height 100%
          padding 0 10px
          float left
          color #264C65
          border-radius 5px
          .wrap
            height: 100%
            &:hover
              box-shadow 0 10px 18px 0 rgba(0, 0, 0, 0.12)
            .item-pic
              width 154px
              height 154px
              background #F9F9F9;
              border-radius: 5px 5px 0 0;
              img
                width 100%
                height 100%
            .item-desc
              padding 11px 0 3px 0
              line-height 20px
              width 100%
              height 34px
              overflow hidden
              white-space nowrap
              text-overflow ellipsis
              text-align center
            .item-price
              text-align center
              border-radius: 0 0 5px 5px;
              span
                font-size 22px
                color #DA5140
                line-height 26px


