.goodList-wrap
  width: 1200px;
  margin: 40px auto 0;
  li
    float: left;
    margin: 0 15px 30px 0;
    &:nth-child(4n)
      margin-right: 0
    &.clearBoth
      clear: both;
      float: none;
      margin: 0

.blank
  line-height 19px;
  margin 270px 0;
  text-align center
  color: #264C65 100%


