.rightVip-wrap
  background #f8f8f8

  .section
    width 1200px
    font-size: 16px;
    margin: 70px auto 36px;
    &:first-child
      margin-top: 0
    &:last-child
      margin-bottom: 0
    .title
      line-height: 1
      font-size: 20px;
      color: #c0a15d
      padding-left: 18px
      border-left 2px solid #c0a15d
      font-weight bold
      margin-bottom 36px
    .content
      line-height 24px;
      font-size 16px;
      color: #808080;
      width: 1158px;
      margin: 0 auto 36px;
      &:last-child
        margin-bottom 0
    table
      width: 1158px;
      margin: auto;
      border-right: 1px solid #d9d9d9;
      border-bottom: 1px solid #d9d9d9
      tr
        height 50px
        td
          vertical-align: middle;
          text-align: center;
          border-left: 1px solid #d9d9d9;
          border-top: 1px solid #d9d9d9;
          font-size: 16px
          color: #333333;
          &.bg
            background: #c0a15d
            color: #ffffff
            border: 0
          .icon-right
            font-size 18px;
            color #74cd5f
      &.table2
        tr
          td
            &.width25
              width 27%
    .content-wrap
      li
        display: flex
        justify-content space-between
        height: 132px;
        div
          width 556px;
          box-sizing border-box
          padding-left: 50px;
          h5
            line-height: 36px;
            position relative
            font-size: 16px;
            color: #333333
            font-weight: bold
            span
              color: #c0a15d
              font-size: 30px;
              position absolute
              left -55px
              top 0
          .disc
            font-size: 14px;
            color: #808080
            line-height 20px
            margin-top 4px
          .more
            color: #999999
            font-size: 16px;
            font-weight bold;
            line-height: 36px;

