*
  margin 0
  padding 0
  box-sizing border-box
  font-family MicrosoftYaHei

img
  border none

.left
  float left

.right
  float right

.see-more
  font-size 14px
  color #808080
  padding-top 5px
  cursor pointer
.shadow
  box-shadow 0 10px 18px 0 rgba(0, 0, 0, 0.12)

.remove
  transition all linear 0.3s
.remove:hover
  margin-top -5px

.homeVip-wrapper
  width 100%
  min-width 1200px
  margin auto
  height auto
  .homeVip-content
    width 1200px
    height 100%
    margin auto
  .homeVip-title
    width 100%
    font-size 20px
    color #c0a15d
    font-weight bold
    padding 60px 0
    span
      font-weight bold
      font-size 20px
      vertical-align -1px
      margin-right 10px
  .homeVip-grade
    width 100%
    min-width 1200px
    margin auto
    height 896px
    background #fff
  .homeVip-growUp
    width 100%
    min-width 1200px
    margin auto
    height 576px
    background url(./homeVip-growUp-bg.png) no-repeat
    .homeVip-title
      padding 75px 0 38px 0
    .growUp-ul
      width 100%
      height 347px
      li
        width 285px
        height 347px
        margin-right 20px
        border-radius 5px
        overflow hidden
        &:last-child
          margin-right 0
        .growUp-li-item1
          width 285px
          height 224px
          background #ffffff
          padding 47px
          img
            margin auto
            display block
        .growUp-li-item2
          width 285px
          height 123px
          background #f2f2f2
          padding-top 37px
          .taskName
            text-align center
            font-size 18px
            color #333333
          .taskAward
            text-align center
            padding-top 10px
            font-size 14px
            color #808080
            span
              font-size 22px
              color #c0a15d

  .homeVip-beanMall
    width 100%
    min-width 1200px
    margin auto
    height 838px
    background #fff
    .homeVip-title
      padding 75px 0 52px 0
    .beanAD
      width 330px
      height 615px
      background url(./beanAD.png) no-repeat;
    .beanShow
      width 855px
      height 615px
      .beanMall-ul
        width 855px
        height 615px
        li
          width 270px
          height 297px
          margin 0 20px 20px 0
          &:nth-child(3),&:nth-child(6)
            margin-right 0
          .beanMall-li-content
            width 270px
            height 297px
            border-radius 5px
            overflow hidden
            .beanMall-li-item1
              width 270px
              height 210px
            .beanMall-li-item2
              width 270px
              height 87px
              text-align center
              padding-top 22px
              .goodsName
                font-size 18px
                color #333333
              .goodsPrice
                font-size 14px
                color #999999
                padding-top 10px
                span
                  font-size 20px
                  color #c0a15d
