*
  margin 0
  padding 0
  box-sizing border-box
  font-family MicrosoftYaHei
.goods-wrapper
  width 100%
  height auto
  background #eee
  .content-wrapper
    margin 0 auto
    width 1200px
    height auto
    padding-bottom 40px
    .goods-item
      &:first-child
        margin-top: 30px;
      .title-wrapper
        position relative
        padding 0px 0 12px 0
        width 100%
        display flex
        .title-icon
          position relative
          width 32px
          height 44px
          div
            width: 32px;
            height: 44px;
            &.img-wrap-1
              background: url(./floorNum-1.png)
            &.img-wrap-2
              background: url(./floorNum-2.png)
            &.img-wrap-3
              background: url(./floorNum-3.png)
            &.img-wrap-4
              background: url(./floorNum-4.png)
          span
            position absolute
            left 0
            top 4px
            display block
            width 32px
            font-size 20px
            color #fff
            text-align center
        .product
          margin-left 12px
          margin-top 18px
          font-size 20px
          color #264C65
          span
            margin-left 12px
            font-size 14px
            color #264C65
        .goods-more
          position absolute
          top 24px
          right 0
          font-size 14px
          color #264C65
          &:hover
            text-decoration underline
      .goods
        width 100%
        li
          float: left;
          margin: 0 15px 30px 0;
          &:nth-child(4n)
            margin-right: 0
          &.clearBoth
            clear: both;
            float: none;
            margin: 0
        .waitInfo
          line-height: 334px;
          text-align: center;
          color: #92979b;
          width: 100%;
          width: 285px;
          background: #fff;
          border-radius: 5px;
          transition all .3s
          &:hover
            box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.12);

