.taskVip-wrap
  background: #eee
  padding-top 40px;

  & > .content-wrap
    width 1200px;
    margin auto
    background: #fff
    .top-tabs
      background: #eee
      display flex
      .tab
        width: 152px;
        line-height 46px
        text-align: center
        color: #808080
        cursor pointer
        &.active
          background: #fff
          color: #be9f59

    .tabs-content-wrap
      padding: 0 46px 45px
      .content-wrap
        .section
          margin-top 45px;
          .title
            line-height: 1;
            font-size: 20px;
            color: #c0a15d;
            padding-left: 18px;
            border-left: 2px solid #c0a15d;
            font-weight: bold;
            margin-bottom: 35px;

          .task-list
            display flex
            .item
              box-sizing border-box
              margin-right 18px;
              padding 45px 30px 20px;
              text-align: center
              width: 244px;
              background: #f2f2f2
              box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.12);
              border-radius: 5px;
              height: 252px;
              &.app:hover .img-wrap
                display: block
              &.app:hover .card-wrap
                display: none
              &.app .card-wrap .btn
                display: none
              .img-wrap
                display none
                p
                  color: #be9f59
                  font-size 16px;
                  color: #be9f59;
                  font-size: 16px;
                  margin-top: 29px;
              .card-wrap
                i
                  font-size: 33px;
                  color: #333333
                .name
                  font-size: 16px;
                  margin-top: 21px;
                  color: #333333
                  font-weight: bold
                .desc
                  font-size: 16px;
                  margin-top: 8px;
                  color: #808080;
                  height 60px;
                  line-height 1.4
                .signTxt
                  color: #be9f59
                  font-size 16px;
                  margin: 0 -15px;
                .btn
                  width: 154px;
                  margin: auto
                  display: block
                  line-height: 48px;
                  border-radius: 5px;
                  color: #fff
                  background: #d9d9d9
                  &.No-complete
                    background: #be9f59
                    &:hover
                      background: #a08037

        &.growth
          .growth-value
            line-height: 72px;
          .select-widget
            margin-bottom: 10px;
            select
              height: 40px
              border 1px solid #d9d9d9
              width: 208px;
          table
            width: 1108px;
            margin: auto;
            border-right: 1px solid #d9d9d9;
            border-bottom: 1px solid #d9d9d9
            tr
              height 50px
              td
                vertical-align: middle;
                text-align: center;
                border-left: 1px solid #d9d9d9;
                border-top: 1px solid #d9d9d9;
                font-size: 16px
                color: #333333;
                &.bg
                  background: #c0a15d
                  color: #ffffff
                  border: 0
                .icon-right
                  font-size 18px;
                  color #74cd5f
            &.table2
              tr
                td
                  &.width25
                    width 27%
        .noLogin
          padding 130px 0;
          text-align center
          .text
            font-size: 14px;
            color: #4c4c4c
            margin-top 47px;
          .btn
            display block
            line-height: 48px;
            color: #fff
            border-radius: 5px;
            background: #be9f59;
            width: 154px;
            margin 22px auto 0
