* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: MicrosoftYaHei;
}
img {
  border: none;
}
.left {
  float: left;
}
.right {
  float: right;
}
/* formValidation */
.formValidation {
  font-size: 12px;
  margin-top: 5px;
  color: #f00;
}
.login-wrapper {
  width: 100%;
  min-width: 1200px;
  height: 580px;
  background: url("./login-bg.png") center no-repeat;
}
.login-wrapper .login-content {
  margin: auto;
  width: 1200px;
  height: 580px;
  padding: 90px 0;
}
.login-wrapper .login-content .login-wrap {
  width: 370px;
  height: 400px;
  background: #fdfdfd;
  border-radius: 5px;
  padding: 26px 30px;
/* 图形验证浮层 */
}
.login-wrapper .login-content .login-wrap .login-tab {
  width: 100%;
  height: 26px;
}
.login-wrapper .login-content .login-wrap .login-tab p.left {
  font-size: 20px;
  color: #264c65;
}
.login-wrapper .login-content .login-wrap .login-tab p.right {
  display: none;
  font-size: 14px;
  color: #92979b;
  cursor: pointer;
  transition: all ease-out 0.1s;
}
.login-wrapper .login-content .login-wrap .login-tab p.right:hover {
  color: #fb6c45;
}
.login-wrapper .login-content .login-wrap .login-tab p.active {
  display: block;
}
.login-wrapper .login-content .login-wrap .login-tab p.active span {
  padding-left: 5px;
  font-size: 14px;
  vertical-align: -1px;
}
.login-wrapper .login-content .login-wrap .login-form {
  width: 100%;
  height: auto;
}
.login-wrapper .login-content .login-wrap .login-form .login-tips {
  width: 100%;
  height: 43px;
  line-height: 43px;
  color: #f00;
  font-size: 16px;
}
.login-wrapper .login-content .login-wrap .login-form .item {
  position: relative;
  width: 100%;
  height: 77px;
}
.login-wrapper .login-content .login-wrap .login-form .item .login-label {
  position: absolute;
  top: 14px;
  left: 11px;
  width: 33px;
  height: 22px;
  font-size: 24px;
  color: #92979b;
  border-right: 1px solid #e4e4e4;
}
.login-wrapper .login-content .login-wrap .login-form .item input {
  width: 100%;
  height: 50px;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  outline: none;
  padding-left: 55px;
  color: #264c65;
}
.login-wrapper .login-content .login-wrap .login-form .item input::-webkit-input-placeholder {
  font-size: 14px;
  color: #92979b;
}
.login-wrapper .login-content .login-wrap .login-form .item span {
  position: absolute;
  right: 11px;
  top: 10px;
  cursor: pointer;
  display: block;
  width: 84px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: #fdfdfd;
  background: #f89f87;
  border-radius: 100px;
}

.login-wrapper .login-content .login-wrap .login-form .item span.huoQu {
  font-size: 12px;
}
.login-wrapper .login-content .login-wrap .login-form .remember-me {
  position: relative;
  width: 100%;
  height: 19px;
  margin-bottom: 18px;
}
.login-wrapper .login-content .login-wrap .login-form .remember-me .login-check {
  width: 14px;
  height: 14px;
  vertical-align: -3px;
  border-radius: 2px;
  outline: none;
}
.login-wrapper .login-content .login-wrap .login-form .remember-me span,
.login-wrapper .login-content .login-wrap .login-form .remember-me .right {
  font-size: 14px;
  color: #92979b;
  transition: all ease-out 0.1s;
}
.login-wrapper .login-content .login-wrap .login-form .remember-me span:hover,
.login-wrapper .login-content .login-wrap .login-form .remember-me .right:hover {
  color: #264c65;
}
.login-wrapper .login-content .login-wrap .login-form .remember-me .right {
  cursor: pointer;
}
.login-wrapper .login-content .login-wrap .login-form .remember-me .right:hover {
  color: #fb6c45;
}
.login-wrapper .login-content .login-wrap .login-form .immediately-login {
  width: 100%;
  height: 50px;
}
.login-wrapper .login-content .login-wrap .login-form .immediately-login a {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  text-align: center;
  line-height: 50px;
  background: #fb6c45;
  color: #fff;
  font-size: 16px;
  transition: all ease-out 0.1s;
}
.login-wrapper .login-content .login-wrap .login-form .immediately-login a:hover {
  box-shadow: 0 10px 16px 0 rgba(251,108,69,0.5);
}
.login-wrapper .login-content .login-wrap .login-form .registration {
  margin-top: 17px;
  width: 100%;
  text-align: center;
}
.login-wrapper .login-content .login-wrap .login-form .registration a {
  font-size: 14px;
  color: #92979b;
  transition: all ease-out 0.1s;
}
.login-wrapper .login-content .login-wrap .login-form .registration a:hover {
  color: #fb6c45;
}
.login-wrapper .login-content .login-wrap .figure-code {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 1200px;
  height: 100%;
  background: rgba(0,0,0,0.2);
}
.login-wrapper .login-content .login-wrap .figure-code .figure-code-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -135px;
  margin-left: -245px;
  width: 490px;
  height: 270px;
  background: #fff;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.1), 0 22px 30px 0 rgba(0,0,0,0.18);
  border-radius: 5px;
}
.login-wrapper .login-content .login-wrap .figure-code .figure-code-wrap .figure-code-title {
  position: relative;
  width: 100%;
  height: 70px;
  color: #264c65;
  background: #f2f2f2;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.login-wrapper .login-content .login-wrap .figure-code .figure-code-wrap .figure-code-title span {
  font-size: 20px;
  line-height: 70px;
}
.login-wrapper .login-content .login-wrap .figure-code .figure-code-wrap .figure-code-title p.close {
  position: absolute;
  top: 21px;
  right: 21px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 12px;
  font-size: 36px;
  color: #94999d;
  cursor: pointer;
}
.login-wrapper .login-content .login-wrap .figure-code .figure-code-wrap .figure-code-content {
  height: 200px;
  width: 100%;
  padding-top: 34px;
}
.login-wrapper .login-content .login-wrap .figure-code .figure-code-wrap .figure-code-content .figure-code-item {
  width: 270px;
  height: 86px;
  margin: auto;
}
.login-wrapper .login-content .login-wrap .figure-code .figure-code-wrap .figure-code-content .figure-code-item input {
  width: 160px;
  height: 50px;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  outline: none;
  padding-left: 10px;
  color: #264c65;
}
.login-wrapper .login-content .login-wrap .figure-code .figure-code-wrap .figure-code-content .figure-code-item input::-webkit-input-placeholder {
  font-size: 14px;
  color: #92979b;
}
.login-wrapper .login-content .login-wrap .figure-code .figure-code-wrap .figure-code-content .figure-code-item span {
  display: block;
  cursor: pointer;
  width: 100px;
  height: 50px;
  background: #e4e4e4;
  border-radius: 5px;
}
.login-wrapper .login-content .login-wrap .figure-code .figure-code-wrap .figure-code-content .figure-code-submit {
  width: 180px;
  height: 50px;
  margin: auto;
  background: #fb6c45;
  border-radius: 25px;
  transition: all ease-out 0.1s;
}
.login-wrapper .login-content .login-wrap .figure-code .figure-code-wrap .figure-code-content .figure-code-submit:hover {
  box-shadow: 0 10px 16px 0 rgba(251,108,69,0.5);
}
.login-wrapper .login-content .login-wrap .figure-code .figure-code-wrap .figure-code-content .figure-code-submit p {
  cursor: pointer;
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  color: #fff;
}
