*
  margin 0
  padding 0
  box-sizing border-box
  font-family MicrosoftYaHei

img
  border none

.left
  float left

.right
  float right
/* formValidation */
.formValidation
  font-size 12px
  margin-top 5px
  color red

.login-wrapper
  width 100%
  min-width 1200px
  height 580px
  background url(./login-bg.png) center no-repeat;
  .login-content
    margin auto
    width 1200px
    height 580px
    padding 90px 0
    .login-wrap
      width 370px
      height 400px
      background #FDFDFD
      border-radius 5px
      padding 26px 30px
      .login-tab
        width 100%
        height 26px
        p.left
          font-size 20px
          color #264C65
        p.right
          display none
          font-size 14px
          color #92979B
          cursor pointer
          transition all ease-out 0.1s
          &:hover
            color #FB6C45
        p.active
          display block
          span
            padding-left 5px
            font-size 14px
            vertical-align -1px
      .login-form
        width 100%
        height auto
        .login-tips
          width 100%
          height 43px
          line-height 43px
          color red
          font-size 16px
        .item
          position relative
          width 100%
          height 77px
          .login-label
            position absolute
            top 14px
            left 11px
            width 33px
            height 22px
            font-size 24px
            color #92979B
            border-right 1px solid #E4E4E4
          input
            width 100%
            height 50px
            border 1px solid #E4E4E4
            border-radius 5px
            outline none
            padding-left 55px
            color #264C65
          input::-webkit-input-placeholder
            font-size 14px
            color #92979B
          span
            position absolute
            right 11px
            top 10px
            cursor pointer
            display block
            width 84px
            height 30px
            text-align center
            line-height 30px
            color #FDFDFD
            background #F89F87
            border-radius 100px
        .remember-me
          position relative
          width 100%
          height 19px
          margin-bottom 18px
          .login-check
            width 14px
            height 14px
            vertical-align -3px
            border-radius 2px
            outline none
          .login-check:checked
            /*-webkit-appearance none*/
          span,.right
            font-size 14px
            color #92979B
            transition all ease-out 0.1s
            &:hover
              color #264C65
          .right
            cursor pointer
            &:hover
              color #FB6C45
        .immediately-login
          width 100%
          height 50px
          a
            display block
            width 100%
            height 100%
            border-radius 25px
            text-align center
            line-height 50px
            background #FB6C45
            color #ffffff
            font-size 16px
            transition all ease-out 0.1s
            &:hover
              box-shadow 0 10px 16px 0 rgba(251,108,69,0.50)
        .registration
          margin-top 17px
          width 100%
          text-align center
          a
            font-size 14px
            color #92979B
            transition all ease-out 0.1s
            &:hover
              color #FB6C45
      /* 图形验证浮层 */
      .figure-code
        position fixed
        top 0
        left 0
        width 100%
        min-width 1200px
        height 100%
        background: rgba(0,0,0,0.20);
        .figure-code-wrap
          position absolute
          top 50%
          left 50%
          margin-top -135px
          margin-left -245px
          width 490px
          height 270px
          background #FFFFFF
          box-shadow 0 0 10px 0 rgba(0,0,0,0.10), 0 22px 30px 0 rgba(0,0,0,0.18)
          border-radius 5px
          .figure-code-title
            position relative
            width 100%
            height 70px
            color #264C65
            background #F2F2F2
            text-align center
            border-top-left-radius 5px
            border-top-right-radius 5px
            span
              font-size 20px
              line-height 70px
            p.close
              position absolute
              top 21px
              right 21px
              width 20px
              height 20px
              text-align center
              line-height 12px
              font-size 36px
              color #94999D
              cursor pointer
          .figure-code-content
            height 200px
            width 100%
            padding-top 34px
            .figure-code-item
              width 270px
              height 86px
              margin auto
              input
                width 160px
                height 50px
                border 1px solid #E4E4E4
                border-radius 5px
                outline none
                padding-left 10px
                color #264C65
              input::-webkit-input-placeholder
                font-size 14px
                color #92979B
              span
                display block
                cursor pointer
                width 100px
                height 50px
                background #E4E4E4
                border-radius 5px
            .figure-code-submit
              width 180px
              height 50px
              margin auto
              background #FB6C45
              border-radius 25px
              transition all ease-out 0.1s
              &:hover
                box-shadow 0 10px 16px 0 rgba(251,108,69,0.50)
              p
                cursor pointer
                width 100%
                height 100%
                font-size 16px
                line-height 50px
                text-align center
                color #fff
