@font-face
  font-family: 'icomoon';
  src:  url('common/fonts/icomoon.eot?ma8sd6');
  src:  url('common/fonts/icomoon.eot?ma8sd6#iefix') format('embedded-opentype'),
    url('common/fonts/icomoon.ttf?ma8sd6') format('truetype'),
    url('common/fonts/icomoon.woff?ma8sd6') format('woff'),
    url('common/fonts/icomoon.svg?ma8sd6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;


[class^="icon-"], [class*=" icon-"]
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


.icon-wechat:before
  content "\e901"

.icon-exit:before
  content "\e902"

.icon-rightArrow:before
  conten "\e903"

.icon-add:before
  content "\e90"

.icon-reduce:before
  content "\e905"

.icon-go-right:before
  content "\e906"

.icon-suo:before
  content "\e907"

.icon-message:before
  content "\e908"

.icon-phone:before
  content "\e909"

.icon-balloon:before
  content "\e90a"

.icon-sign:before
  content "\e90b"

.icon-invest:before
  content "\e90c"

.icon-invite-invest:before
  content "\e90d"

.icon-project:before
  content "\e90e"

.icon-measurement:before
  content "\e90f"

.icon-recharge:before
  content "\e910"

.icon-real-name:before
  content "\e911"

.icon-right:before
  content "\e912"

.icon-Arrow-left:before
  content "\e913"

.icon-Arrow-right:before
  content "\e914"

.icon-task:before
  content "\e915"

.icon-mall:before
  content "\e916"

.icon-question:before
  content "\e917"

.icon-discount:before
  content "\e918"

.icon-customer-service:before
  content "\e919"

.icon-microphone:before
  content "\e91a"

.icon-Diamond-1:before
  content "\e91b"

.icon-gift:before
  content "\e91d"

.icon-cake:before
  content "\e91e"

.icon-rockets:before
  content "\e91f"

.icon-cup:before
  content "\e920"

.icon-Diamond-2:before
  content "\e921"

.icon-phone2:before
  content "\e942"

.icon-circle-right:before
  content "\ea42"

.icon-sina-weibo:before
  content "\ea9a"

.icon-inviteFriends:before
  content "\e900"

